/* Preset */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600&display=swap');
:root {
    --primary-color: #ff1e38;
    --green-color: #2ecc71;
    --yallow-color: #f39c12;
    --text-color: #3e3e3e;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    height: 100vh;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
ul {
    list-style-type: none;
}

/* Utility Classes */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
}

/* Header */
header {
    padding: 1rem 0;
    border-bottom: 1px solid #e3e3e3;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 500;
}
nav ul {
    display: flex;
    gap: 1.5rem;
}
nav ul .active {
    color: var(--primary-color);
}
nav ul a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s ease-out;
}
nav ul a:hover::after {
    width: 45px;
}

/* Card Section */
.home-main {
    margin-top: 50px;
    text-align: center;
    z-index: 1;
}
.home-main .batch, .routine-main .batch {
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.home-main .card {
    max-width: 320px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    margin-bottom: 1.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.4);
    position: relative;
}
.home-main .run-up {
    position: absolute;
    right: -30px;
    top: 15px;
    transform: rotate(45deg);
    background-color: var(--green-color);
    display: inline-block;
    padding: 3px 0;
    width: 120px;
    border-radius: 5px;
    font-weight: 500;
}
.home-main .cls-code {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.home-main .card-flex {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.home-main .time {
    font-size: 1.5rem;
}
.home-main .teacher span, .home-main .room span, .home-main .time span {
    font-weight: 600;
}

/* Popup Section */
.pop-home {
    position: absolute;
    top: -110%;
    left: 0;
    right: 0;
    padding: 0.5rem;
    text-align: center;
    transition: top 0.3s ease-out;
}
.pop-home.active {
    top: 0;
}
.pop {
    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.35);
}
.pop-title {
    color: var(--primary-color);
    text-align: left;
    padding: 0.5rem 1.5rem;
    border-bottom: 2px solid var(--primary-color);
}
.pop-card {
    background-color: var(--primary-color);
    color: white;
    max-width: 280px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 20px;
}
.card-2 {
    background-color: #04a9af;
}
.card-3 {
    background-color: #0b00ac;
}
.next-cls-code {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.pop-card-flex {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}
.no-cls {
    border: 2px dashed var(--green-color);
    max-width: 280px;
    margin: 1rem auto;
    padding: 2rem 1rem;
    text-align: center;
    color: var(--green-color);
    font-size: 1.2rem;
    font-weight: 500;
}
.pop-close {
    margin: 1.5rem 0;
}

/* Routine Section */
.routine-main {
    margin-top: 20px;
    text-align: center;
}
.routine-main .table-div {
    overflow-x: auto;
    margin-bottom: 1.5rem;
}
table {
    min-width: 570px;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    line-height: 1.5;
}
thead tr th {
    padding: 0.5rem 0;
}
th {
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
}
td {
    background-color: #e3e3e3;
    font-weight: 500;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.2rem;
}
footer span {
    font-family: 'Lobster', cursive;
}

/* Media Queries */
@media screen and (min-width: 576px) {
    .container {width: 540px;}
}
@media screen and (min-width: 768px) {
    .container {width: 720px;}
}
@media screen and (min-width: 992px) {
    .container {width: 960px;}
}
@media screen and (min-width: 1200px) {
    .container {width: 1140px;}
}
@media screen and (min-width: 1400px) {
    .container {width: 1320px;}
}